{% extends "base.html" %}

{% block body %}
<div class="page-header"><h1>About me</h1></div>

<div class="row">
    <div class="span8"><span class="label label-warning">Todo</span></div>
    <div class="span4">
        <section class="block">
            <header><h2>Contact details</h2></header>
            <dl>
                <dt>Email</dt>
                    <dd><a href="mailto:ross@rossmasters.com">ross@rossmasters.com</a></dd>
                    <dd><a href="mailto:ross.masters@students.plymouth.ac.uk">ross.masters@students.plymouth.ac.uk</a></dd>
                <dt>Twitter</dt>
                    <dd><a href="https://twitter.com/rossmasters">@rossmasters</a></dd>
                <dt>Google+</dt>
                    <dd><a href="https://plus.google.com/u/0/117454109771922886774">+Ross Masters</a></dd>
                <dt>Facebook</dt>
                    <dd><a href="https://facebook.com/ross.masters">Ross Masters</a></dd>
            </dl>
        </section>
        <section class="block">
            <header><h2>Profiles</h2></header>
            <ul>
                <li><a href="http://stackoverflow.com/2025/ross">StackOverflow</a></li>
                <li><a href="http://github.com/rmasters">GitHub</a></li>
                <li><a href="http://news.ycombinator.com/user?id=RossM">Hacker News</a></li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}
