{% extends "base.html" %}

{% block body %}
<div class="page-header"><h1>{{ project.name }}</h1></div>
<div class="row">
    <div class="span8">
        <section class="block">
            <header><h2>Project description</h2></header>
            {{ project.content_as_html()|safe }}
        </section>
    </div>

    <div class="span4">
        {% if project.label and project.label.published_posts()|count > 0 %}
        <section class="block">
            <header><h3>Related blog posts</h3></header>
            <ul>
            {% for post in project.label.published_posts() %}
                <li><a href="{{ url_for('blog_post', slug=post.slug) }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </section>
        {% else %}
        <section class="block block-inactive">
            <header><h3>Related blog posts</h3></header>
            <p>No posts found.</p>
        </section>
        {% endif %}
    </div>
</div>
{% endblock %}
